<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>External challenges catalyzing semiconductor supply chain self-sufficiency - Chinadaily.com.cn</title>
    <meta name="keywords" />
    <meta name="description" content="China&#39;s semiconductor supply chain companies are making steady progress in core technologies and materials as US-led export controls and the possibility of more restrictions on advanced chip-making equipment catalyze the country&#39;s drive for greater self-sufficiency." />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="External challenges catalyzing semiconductor supply chain self-sufficiency" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html" />
      <meta property="og:image" content="http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="External challenges catalyzing semiconductor supply chain self-sufficiency" />
      <meta name="twitter:description" content="China&#39;s semiconductor supply chain companies are making steady progress in core technologies and materials as US-led export controls and the possibility of more restrictions on advanced chip-making equipment catalyze the country&#39;s drive for greater self-sufficiency." />
      
        
        
        
        <meta name="twitter:image:src" content="http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbd.jpeg" />
        
        
        
        <meta name="twitter:image" content="http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbd.jpeg" />
      
      
      
      
      <meta name="shareImg" content="//img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_business_en/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_business_en/css/layout.css?ver=20" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_business_en/css/r-content.css?v=134" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_business_en/css/r-public.css" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/common/css/share_encontent.css" />
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/html5shiv.js"></script>
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/respond.min.js"></script>
    <link href="//img2.chinadaily.com.cn/h5hack/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/h5hack/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="/h5hack/respond.proxy.js" xml:space="preserve"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
    <script language="javascript" type="text/javascript" xml:space="preserve" src="//img2.chinadaily.com.cn/static/2017www_business_en/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" xml:space="preserve" src="//img2.chinadaily.com.cn/static/2017www_business_en/js/content-public.js?v=21"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/share.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/taboolaHead.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jweixin-1.0.0.js"></script>
    <script src="//share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>

    <!--[if lt IE 9]>

<style type="text/css">
.zhezhao{
background-color:#ddd;
}
</style>
<![endif]-->
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="59b8d013a3108c54ed7dfca8" />
      <meta name="contentid" content="WS698bec0da310d6866eb38a5f" />
      <meta name="publishdate" content="2026-02-11" />
      <meta name="editor" content="许嘉怡" />
      <meta name="author" content="许嘉怡" />
      <meta name="source" content="China Daily" />

      <!--来源-->
      <meta name="webterren_speical" content="4" />
      <meta name="sourcetype" content="4" />
    
    
      <!-- NEWSROOM SCRIPT -->
      <script>
        /*  window._newsroom = window._newsroom || [];

        !function (e, f, u) {
          e.async = 1;
          e.src = u;
          f.parentNode.insertBefore(e, f);
        }(document.createElement('script'),
          document.getElementsByTagName('script')[0], '//c2.taboola.com/nr/chinadaily-int/newsroom.js');	*/
      </script>
      <!-- END NEWSROOM SCRIPT -->
    
  </head>
  <body>
    <div id="wx_image" style="display:none;">
      <img src="//www.chinadaily.com.cn/image_e/2020/logo_chinadaily.jpg" />
    </div>
    
      <div class="r-phototitle">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / A1 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2594" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / A1 End -->
      </div>
    
    
      <!-- begin响应式遮罩层-->
      <div class="zhezhao"></div>
      <!-- end 响应式遮罩 -->
      <!-- 响应式nav开始 -->
      <nav class="navbartop1">
        <div class="nav-fluid">
          <div class="yinyingceng"></div>
          <button type="button" class="navbutton1 res-m">
            <span class="icon-bar1"></span>
            <span class="icon-bar1"></span>
            <span class="icon-bar1"></span>
          </button>
        </div>
        <div class="img-center res-m">
          <a class="a-center" target="_top" href="//www.chinadaily.com.cn"><img src="//www.chinadaily.com.cn/image_e/2017/logo.png" alt="chinadaily" />
          </a>
        </div>
        <div class="fl-right res-m">
          <a href="//cn.chinadaily.com.cn" target="_top"><img src="//www.chinadaily.com.cn/image_e/2017/cnbut.png" /></a>
        </div>
      </nav>
      <!-- 响应式nav结束 -->
      <ul class="xiao-ul">
        <li><a href="https://newssearch.chinadaily.com.cn/en/search" target="_top"><span>Search</span></a></li>
        <li><a href="https://www.chinadaily.com.cn" target="_top">HOME</a></li>
        <li>
          <a href="https://www.chinadaily.com.cn/china" target="_top">CHINA</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/world" target="_top">WORLD</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/business" target="_top">BUSINESS</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/life" target="_top">LIFESTYLE</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/culture" target="_top">CULTURE</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/travel" target="_top">TRAVEL</a>
        </li>
        <li><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
        <li>
          <a href="https://www.chinadaily.com.cn/sports" target="_top">SPORTS</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/opinion" target="_top">OPINION</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/regional" target="_top">REGIONAL</a>
        </li>
        <li><a href="javascript:void(0)">NEWSPAPER</a></li>
        <li><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_top">MOBILE</a></li>
      </ul>
      <!-- pc头部 -->
      <div class="topBar">
        <div class="logo"><a target="_blank" href="//www.chinadaily.com.cn"><img src="https://www.chinadaily.com.cn/image_e/2016/logo_art.jpg" /></a></div>
        <div class="search">
          <form name="searchform" method="get" action="https://newssearch.chinadaily.com.cn/en/search" onsubmit="return do_search(this)" target="_blank">
            <input name="query" id="searchText" onfocus="clearword(this)" type="text" />
            <span><img src="https://www.chinadaily.com.cn/image_e/2016/fdj_art.gif" style="width:28px;;" onclick="javascript:searchform.submit()" /></span>
          </form>
          <script>
            //<![CDATA[
            function clearword(obj){ 
              obj.value = ''; 
            }
            //]]>
          </script>
        </div>
        <div class="channel">
          <span><a href="https://www.chinadailyglobal.com" target="_blank">Global Edition</a><a href="http://www.chinadailyasia.com/" target="_blank">ASIA</a></span>
          <span><a href="https://cn.chinadaily.com.cn" target="_blank">中文</a><a href="https://language.chinadaily.com.cn" target="_blank" style="display:none;">双语</a><a href="http://www.chinadaily.com.cn/chinawatch_fr/index.html" target="_blank" style="display:none;">Français</a></span>
        </div>
        <div class="topInfo"><a href="https://bbs.chinadaily.com.cn/forum/index.html" target="_blank" style="padding-right: 28px;"><img src="https://www.chinadaily.com.cn/image_e/2016/sign_ico_art.gif" /></a><a href="http://subscription.chinadaily.com.cn/" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2016/sub_ico_art.gif" /></a></div>
      </div>
      <!-- pc 菜单 -->
      <div class="topNav">
        <ul class="dropdown">
          <li style="width: 60px;"><a href="https://www.chinadaily.com.cn" target="_blank">HOME</a></li>
          <li style=" width:60px;"> <a href="https://www.chinadaily.com.cn/china" target="_blank">CHINA</a></li>
          <li style=" width:65px;">  <a href="https://www.chinadaily.com.cn/world" target="_blank">WORLD</a></li>
          <li style=" width:80px;"> <a href="https://www.chinadaily.com.cn/business" target="_blank">BUSINESS</a></li>
          <li style=" width:80px;"><a href="https://www.chinadaily.com.cn/life" target="_blank">LIFESTYLE</a></li>
          <li style=" width:75px;"> <a href="https://www.chinadaily.com.cn/culture" target="_blank">CULTURE</a></li>
          <li style=" width:75px;">  <a href="https://www.chinadaily.com.cn/travel" target="_blank">TRAVEL</a></li>
          <li style=" width:70px;"><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
          <li style=" width:75x;"> <a href="https://www.chinadaily.com.cn/sports" target="_blank">SPORTS</a></li>
          <li style=" width:85px;">  <a href="https://www.chinadaily.com.cn/opinion" target="_blank">OPINION</a></li>
          <li style=" width:90px;"><a href="https://www.chinadaily.com.cn/regional" target="_blank">REGIONAL</a></li>
          <li class="newspaper"><a href="javascript:void(0);">NEWSPAPER</a>
            <ul class="sub_menu">
              <li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;">China Daily PDF</a></li>
              <li><a href="https://epaper.chinadaily.com.cn/china" target="_blank" style="width:130px;">China Daily E-paper</a></li>
            </ul>
          </li>
          <li style="width:75px;"><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">MOBILE</a></li>
        </ul>
      </div>
    

    <!-- pc 二级菜单 -->
    <div class="topNav2_art" style="margin-bottom:0px;"> <span>Business</span>
      <ul>    
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/economy">Macro</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/companies">Companies</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/biz_industries">Industries</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/tech">Technology</a>
          </li>     
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/motoring">Motoring</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/chinadata">China Data</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/money">Finance</a>
          </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/full_coverage/top1lists">Top 10</a>
          </li>        
      </ul>
    </div>


    <!-- pc 当前栏目 -->
    <div class="topNav3_art"> <span id="bread-nav">
      
        
          <a shape="rect" href="//www.chinadaily.com.cn">Home</a>
          
          
        
      
      
        
          
          <a shape="rect" href="//www.chinadaily.com.cn/business">/ Business</a>
          
        
      
      
        
          
          
          <a shape="rect" href="//www.chinadaily.com.cn/business/tech">/ Technology</a>
        
      
      </span></div>
    <!-- 响应式bread导航 -->
    <ol class="breadcrumb res-m" id="bread-nav1">
      
        
           <li><a shape="rect" href="//www.chinadaily.com.cn">Home</a></li>
          
          
        
      
      
        
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/business">Business</a></li>
          
        
      
      
        
          
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/business/tech">Technology</a></li>
        
      
      <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" class="share-icon" alt="Share to ..." title="Share to ..." />
    </ol>
    <div class="navholder">    </div>
    <div class="breadholder">    </div>
    <!-- pc 主体开始 -->

    <!-- pc 主体开始 -->
    <div class="main_art">
      <div class="lft_art">

    
      <h1>External challenges catalyzing semiconductor supply chain self-sufficiency</h1>
      <h2></h2>
      <div class="info">
        <span class="info_l">
          By MA SI | 
          China Daily |
          Updated: 2026-02-11 10:40
        </span>
        <span class="info_r">
          <a title="facebook" style="cursor:pointer; " target="_blank" href="https://www.facebook.com/sharer.php?title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;u=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="https://www.chinadaily.com.cn/image_e/2020/facebook.png" height="17px" /></a>
          <a title="twitter" style="cursor:pointer;" target="_blank" href="https://twitter.com/share?text=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="https://www.chinadaily.com.cn/image_e/2024/twitter.png" /></a>
          <a title="linkedin" style="cursor:pointer;" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="https://www.chinadaily.com.cn/image_e/2020/linkedin.png" /></a>
          <a title="More" class="more" style="cursor:pointer; "><img src="//www.chinadaily.com.cn/image_e/2017/more_art.gif" /></a>
        </span>

      </div>


      <div class="moreshare">
        <span class="closesharepc">Share<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <a title="weibo" style="cursor:pointer;" target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;pic=http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="https://www.chinadaily.com.cn/image_e/2020/weibo.jpg" /></a>
        <a title="weixin" style="cursor:pointer;"><img src="https://www.chinadaily.com.cn/image_e/2020/weixin.jpg" id="weixinqrcode" /></a>
      </div>
      <div id="qrcode">
        <span>Share - WeChat<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <div id="qrcodearea">
        </div>
      </div>
      <div class="share">
        <div class="share-core">
          <a title="weibo" target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;pic=http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
          <a title="facebook" target="_blank" href="https://www.facebook.com/sharer.php?title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;u=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
          <a title="twitter" target="_blank" href="https://twitter.com/share?text=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
          <a title="linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
          <a title="mail" target="_blank" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=External challenges catalyzing semiconductor supply chain self-sufficiency%0D%0Ahttps://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
          <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
        </div>
        <div class="share-close">
          <span>CLOSE</span>
        </div>
      </div>
      <div id="Content">
        
        
        <figure class="image"> 
 <img src="//img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccb8.png" id="img-698bec0da310d68600f7ccb8"> 
 <figcaption>
   A technician inspects semiconductor chip packaging in Binzhou, Shandong province, on Jan 28. GUO ZHIHUA/FOR CHINA DAILY 
 </figcaption> 
</figure> 
<p>China's semiconductor supply chain companies are making steady progress in core technologies and materials as US-led export controls and the possibility of more restrictions on advanced chip-making equipment catalyze the country's drive for greater self-sufficiency.</p> 
<p>For instance, there is "significant progress" in the domestic production potential of photoresist, the light-sensitive "ink" essential for etching microscopic circuits onto silicon wafers, sources from leading Chinese chipmakers like Semiconductor Manufacturing International Corp and Huahong Group told China Daily.</p> 
<p>Jiangsu Nata Opto-electronic Material, which has developed one of China's first batches of self-developed photoresist for ArF DUV (argon fluoride deep ultraviolet) lithography — a type of high-end photoresist — said the company's revenue from ArF photoresist exceeded 10 million yuan ($1.44 million) in 2024, and it maintained a stable supply of ArF photoresist in 2025.</p> 
<p>Meanwhile, in 2025, three Chinese chip equipment manufacturers ranked among the world's top 20 by sales volume for the first time, according to data from Japanese research firm Global Net.</p> 
<p>This marks a rise from just one company in 2022, prior to the stricter US government restrictions, underscoring China's accelerated progress in bolstering the domestic supply chain.</p> 
<p>The sales ranking reveals a climb for State-backed Naura Technology Group, which jumped from eighth place in 2022 to fifth in 2025. It now only trails global giants ASML, Applied Materials, Lam Research and Tokyo Electron.</p> 
<p>Founded in 2001, Naura has not yet disclosed its annual revenue for 2025, and Global Net based the ranking partly on estimated data. Financial services provider Suntime compiled forecasts from multiple securities companies to estimate Naura's revenue to stand between 46.8 and 52 billion yuan in 2025.</p> 
<p>New to the list at 13th place is Advanced Micro-Fabrication Equipment Inc China, or AMEC, whose etching equipment technology is now close to the cutting edge.</p> 
<p>In chip making, etching is the key process of selectively removing unwanted material layers from a silicon wafer to engrave precise 3D patterns, circuits and transistor structures.</p> 
<p>Shanghai Micro Electronics Equipment, specializing in lithography machines that "print" circuit patterns onto silicon wafers, secured the 20th position. While acknowledging generational gaps with market leader ASML, the Shanghai-based company's presence highlights China's domestic capability in this most critical and challenging segment.</p> 
<p>Expanding the list to the top 30 would include two more Chinese firms — ACM Research and Hwatsing Technology.</p> 
<p>Roger Sheng, vice-president of research at US market research company Gartner, said: "It's fair to say that Chinese companies' technological gap with international industry leaders is continuously narrowing. This progress has provided strong support for domestic chip manufacturers in their technological upgrades and production expansion efforts, even amid restrictions on access to US technology and equipment."</p> 
<p>"With the exception of lithography machines, domestic tools are now being increasingly used in Chinese semiconductor factories. For instance, in etching, Naura has become a key equipment provider for production of a Chinese company's advanced memory chips."</p> 
<p>Yin Zhiyao, chairman and general manager of AMEC, said at a meeting in May 2025 that the company's product portfolios include 30 percent of all the integrated circuit equipment categories, and it aims to collaborate with partners to offer 60 percent of all high-end IC equipment categories over the next five to 10 years.</p> 
<p>The progress is an outcome of Chinese companies' hard work and big investment in beefing up technological prowess, but a gap still exists in core equipment such as lithography machines, and more efforts are needed to achieve breakthroughs, experts said.</p> 
<p>China's massive domestic market, now the world's largest for chipmaking equipment, also provides a powerful launchpad. The global semiconductor industry association SEMI, which has more than 3,000 member companies, estimated that worldwide sales of semiconductor manufacturing equipment would reach $133 billion in 2025, surpassing the previous record of $104.3 billion in 2024 and setting an all-time high.</p> 
<p>The Chinese mainland is projected to maintain the leading position through 2027, as domestic chipmakers continue to invest in both mature and select advanced chip manufacturing technologies, SEMI said.</p>
        
      </div>
      
      
      
    

      <div class="selectpage">
        <!--移动分页-->
        
      </div>
    

        <!-- show more -->

        <!-- <div class="mb50">
<img src="img/more.jpg" width="685" height="23" /> </div> -->

        <!-- <th:block th:include="@{|/|}+'common/2017en' :: comments"/>	-->
        <!-- Related Stories -->

        <div class="mb20">
          <div class="bt2" style="margin-bottom:5px;"><b>Related Stories</b></div>
          <ul class="lis_art2">
            
              <li><a shape="rect" href="//www.chinadaily.com.cn/a/202602/10/WS698a95c4a310d6866eb386e3.html">AI risks widening divide in ASEAN</a></li>
            
            
              <li><a shape="rect" href="//www.chinadaily.com.cn/a/202602/10/WS698a8319a310d6866eb385e8.html">Elite study program reforms, revives</a></li>
            
            
              <li><a shape="rect" href="//www.chinadaily.com.cn/a/202602/07/WS69865adea310d6866eb37fb8.html">Dow tops 50,000 in snapback of US stock markets</a></li>
            
            
              <li><a shape="rect" href="//www.chinadaily.com.cn/a/202602/04/WS6982de8ba310d6866eb376d8.html">Past year full of China-Europe highlights</a></li>
            
            
              <li><a shape="rect" href="//www.chinadaily.com.cn/a/202602/03/WS69812f75a310d6866eb370d8.html">China narrows semiconductor equipment gap</a></li>
            
          </ul>
        </div>

        <div class="mb20 r-phototitle">
          <div class="bt2" style="margin-bottom:15px;">
            <b>  
              
                <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/businessphotos">Photo</a>
              
            </b>
          </div>
          
            <div class="photo_art">
              
                <div class="p_art">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202512/05/WS69329bf5a310d6866eb2d1a5.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202512/05/69329bf5a310d68600f39ad0.jpeg" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202512/05/WS69329bf5a310d6866eb2d1a5.html">China Eastern launches world's longest flight</a>
                </div>
              
              
                <div class="p_art">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202512/05/WS69326b0da310d6866eb2d11c.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202512/05/69326b0da310d68600f392d5.jpeg" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202512/05/WS69326b0da310d6866eb2d11c.html">Hainan winter trade fair promotes tropical agriculture</a>
                </div>
              
              
                <div class="p_art">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202511/28/WS69296a36a310d6866eb2bf5a.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202512/08/69363e2ba310d68600f3b88b.png" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202511/28/WS69296a36a310d6866eb2bf5a.html">'A date with China' media tour makes stop at 'Futian Wings'</a>
                </div>
              
              
                <div class="p_art" style="clear:both;">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202511/27/WS6927f533a310d6866eb2bb7b.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202511/28/6928f4b7a310d68600f3251a.jpeg" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202511/27/WS6927f533a310d6866eb2bb7b.html">Shenzhen pioneers brain science tech to shape future industries</a>
                </div>
              
              
                <div class="p_art">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202511/25/WS6925094fa310d6866eb2b38e.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202511/25/6925094fa310d68600f2e4f1.jpeg" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202511/25/WS6925094fa310d6866eb2b38e.html">Charting distinctive path for beauty brands</a>
                </div>
              
              
                <div class="p_art">
                  <span><a shape="rect" href="//www.chinadaily.com.cn/a/202511/11/WS6912cac6a310fc20369a46db.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202511/11/6912cac6a310fc20ea9149b8.jpeg" /></a></span><a class="t_art" shape="rect" href="//www.chinadaily.com.cn/a/202511/11/WS6912cac6a310fc20369a46db.html">China Post strives to ensure package delivery for 'Double Eleven' online shopping festival</a>
                </div>
              
            </div>
          
        </div>
      </div>

      <!-- pc 右侧开始 -->
      <div class="mai_r">
        
      <div class="mb20">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C1 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2599" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C1 End -->
      </div>
    
        <!-- Most Viewed in 24 Hours -->
        <div class="bt2 h24" id="24hours" style="margin-bottom:5px;"> <b><a href="javascript:void(0)" shape="rect">Most Viewed in 24 Hours</a></b></div>
        <ul class="lisBox">
          <script src="//www.chinadaily.com.cn/html/topnews/59b8d00fa3108c54ed7dfc0a.js" xml:space="preserve"></script>
          <script xml:space="preserve">
            /*<![CDATA[*/
            var num;
            document.write('<ul class=\"lisBox\">');
            for(var i=0;i<5;i++){
              num=i+1;
              document.write('<li><a href="'+cd_json[i].url+'" target="_blank">'+cd_json[i].title+'</a></li>');
            }
            document.write('</ul>');
            /*]]>*/
          </script>
        </ul>
        
      <div class="mb20">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / E1 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2600" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / E1 End -->
      </div>
    
        
      <!--   <div id="taboola-right-rail-thumbnails"></div>	-->
      <script type="text/javascript">
        /*   window._taboola = window._taboola || [];
        _taboola.push({
          mode: 'alternating-thumbnails-rr',
          container: 'taboola-right-rail-thumbnails',
          placement: 'Right Rail Thumbnails',
          target_type: 'mix'
        });	*/
      </script>
    
        <!--State Counsil News 5a30ea16a3108bc8c67304a4-->
        <div class="bt2 lunbor-600"><b>
          <a href="http://english.gov.cn/" target="_blank" shape="rect">State Council News</a>
          </b></div>
        <div class="tw4Box lunbor-600">
          
            
              <div class="tw4">
                <div class="tw4_p"><a target="_blank" shape="rect" href="https://english.www.gov.cn/policies/latestreleases/202602/09/content_WS6989e8aac6d00ca5f9a08feb.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202602/10/698b1ee2a310d68600f7c08e.jpeg_w140" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="https://english.www.gov.cn/policies/latestreleases/202602/09/content_WS6989e8aac6d00ca5f9a08feb.html" id="SCN0">China revises nature reserve regulations to enhance conservation, strengthen management</a></div>
              </div>
            
            
              <div class="tw4">
                <div class="tw4_p"><a target="_blank" shape="rect" href="https://english.www.gov.cn/policies/featured/202602/10/content_WS698a7f6fc6d00ca5f9a09007.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202602/10/698a94f7a310d68600f7b702.jpeg_w140" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="https://english.www.gov.cn/policies/featured/202602/10/content_WS698a7f6fc6d00ca5f9a09007.html" id="SCN1">2026 Share your views on ecological and environmental protection in China</a></div>
              </div>
            
          
        </div>
        <div style="clear:both:float:none;">

        </div>
        <!-- Top 10 -->
        <div class="bt2"><b> 
          <a shape="rect">Top 10</a><!--
<cms:column th:attr="columnId='59b8d01ba3108c54ed7dfd7a'">
<a th:href="${column.prUrl}" target="_top" th:text="${column.name}"></a>
</cms:column>-->
          <!-- 更多按钮 -->
          <a href="#" shape="rect"><span class="jiahao"></span></a>
          </b></div>
        <div class="tw8"> 
          
            
              <a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202406/21/WS6674afc1a31095c51c50a077.html"><img width="290" height="187" src="//img2.chinadaily.com.cn/images/202406/21/6674afc1a31095c551b3cc26.jpeg" /></a>
              <span class="tw8_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202406/21/WS6674afc1a31095c51c50a077.html">Top 10 countries attracting Chinese tourists</a></span>
              
            
            
        </div>

        <!-- Editor's picks -->
        <div class="bt2"><b>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/focus">Business focus</a>
          
          <!-- 更多按钮 -->
          <a href="#" shape="rect"><span class="jiahao"></span></a>
          </b></div>
        <div class="tw4Box">
          
            
              <div class="tw4">
                <div class="tw4_p">
                  <a shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html">
                    <img width="140" height="90" src="//img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg" />
                  </a>
                </div>
                <div class="tw4_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html">External challenges catalyzing semiconductor supply chain self-sufficiency</a></div>
              </div>
            
            
              <div class="tw4">
                <div class="tw4_p">
                  <a shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698beba9a310d6866eb38a57.html">
                    <img width="140" height="90" src="//img2.chinadaily.com.cn/images/202602/11/698beba9a310d68600f7cca5.jpeg" />
                  </a>
                </div>
                <div class="tw4_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698beba9a310d6866eb38a57.html">China's AI chip sector charges ahead</a></div>
              </div>
            
          
        </div>
        
      <div class="mb20">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C2 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2601" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C2 End -->
      </div>
    
        <!--China Data  -->
        <div class="bt2"><b>
          
            <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/chinadata">China Data</a>
          

          </b></div>
        <div class="tw8"> 
          
            
              <a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698bdbe0a310d6866eb389d0.html"><img width="290" height="187" src="//img2.chinadaily.com.cn/images/202602/11/698be83da310d68600f7cc1d.jpeg" /></a>
              <span class="tw8_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202602/11/WS698bdbe0a310d6866eb389d0.html">China's CPI up 0.2% in Jan</a></span>
              
            
               
        </div>


        <!-- Q&amp;A With CEO -->
        <div class="bt2"><b>
          
            <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/soe">SOEs</a>
          
          <!-- 更多按钮 -->
          <a href="#" shape="rect"><span class="jiahao"></span></a>
          </b></div>
        <div class="tw4Box">
          
            
              <div class="tw4">
                <div class="tw4_p">
                  <a shape="rect" href="//www.chinadaily.com.cn/a/202511/11/WS69129549a310fc20369a45f2.html">
                    <img width="140" height="90" src="//img2.chinadaily.com.cn/images/202511/11/69129549a310fc20ea9144aa.jpeg" />
                  </a>
                </div>
                <div class="tw4_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202511/11/WS69129549a310fc20369a45f2.html">Fund for SOEs in place to spur innovation</a></div>
              </div>
            
            
              <div class="tw4">
                <div class="tw4_p">
                  <a shape="rect" href="//www.chinadaily.com.cn/a/202510/30/WS690329b0a310f735438b7dbe.html">
                    <img width="140" height="90" src="//img2.chinadaily.com.cn/images/202510/30/690329b0a310f735017fc311.jpeg" />
                  </a>
                </div>
                <div class="tw4_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202510/30/WS690329b0a310f735438b7dbe.html">Special fund to support strategic emerging industries launched in Beijing</a></div>
              </div>
            
          
        </div>


        <!--Special  -->
        <div class="bt2"><b>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/business/full_coverage">Special</a>
          
          <!-- 更多按钮 -->
          <a href="#" shape="rect"><span class="jiahao"></span></a>
          </b></div>
        <div class="tw6Box">
          
            
              
                <div class="tw6">
                  <span class="tw6_p"><a shape="rect" href="//www.chinadaily.com.cn/a/202601/19/WS696d9701a310d6866eb3477a.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202601/19/696d9701a310d68600f650da.jpeg" /></a></span>
                  <span class="tw6_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202601/19/WS696d9701a310d6866eb3477a.html">Davos 2026</a></span>
                </div>
              
              
            
            
              
              
                <div class="tw6" style="margin-right:0px;">
                  <span class="tw6_p"><a shape="rect" href="//www.chinadaily.com.cn/a/202512/03/WS692fce88a310d6866eb2cab6.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202512/03/692fce88a310d68600f36ceb.jpeg" /></a></span>
                  <span class="tw6_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202512/03/WS692fce88a310d6866eb2cab6.html">International Services Shanghai</a></span>
                </div>
              
            
          
        </div>


      </div>  
    </div>

    
      <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/common/css/public_eu.css?v=1222513143" />
      <!-- 响应式回顶部 -->
      <div data-am-widget="gotop" class="am-gotop am-gotop-fixed WIDGET-58db5c3d3f6a4d70c2315464 gotop am-no-layout am-active res-m">
        <span class="am-gotop-title">Top</span>
        <i class="am-gotop-icon am-icon-arrow-up gotop"></i>
      </div>
      <!-- 响应式回顶部结束 -->
      <!--pc回顶部-->
      <div class="hui-dingbu">
        <div class="ding-nei"><a href="">BACK TO THE TOP</a></div>
      </div>
      <!--show mobile手机显示pc页面返回mobile部分-->
      <div class="mobileView" id="mobileView">
        <div class="mobileView-language">
          <div class="mobileView-button mvl-english">
            English
          </div>
          <div class="mobileView-button mvl-chinese">
            <a href="https://cn.chinadaily.com.cn" target="_blank">中文</a>
          </div></div>
        <div class="mobileView-button mobileView-phone" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showmobilee.png" /></div>
      </div>

      <!--show mobile手机显示pc页面返回mobile部分- end -->
      <!--底部-->
      <div class="dibu-one"></div>
      <!--底部2-->
      <div class="topNav_art2">
        <ul class="dropdown" style="width:1010px; margin:0 auto;">
          <li style="width: 55px;"><a href="https://www.chinadaily.com.cn" target="_blank">HOME</a></li>
          <li style=" width:55px;"> <a href="https://www.chinadaily.com.cn/china" target="_blank">CHINA</a></li>
          <li style=" width:65px;">  <a href="https://www.chinadaily.com.cn/world" target="_blank">WORLD</a></li>
          <li style=" width:75px;"> <a href="https://www.chinadaily.com.cn/business" target="_blank">BUSINESS</a></li>
          <li style=" width:75px;"><a href="https://www.chinadaily.com.cn/life" target="_blank">LIFESTYLE</a></li>
          <li style=" width:70px;"> <a href="https://www.chinadaily.com.cn/culture" target="_blank">CULTURE</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/travel" target="_blank">TRAVEL</a></li>
          <li style=" width:75px;"><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
          <li style=" width:65px;"> <a href="https://www.chinadaily.com.cn/sports" target="_blank">SPORTS</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/opinion" target="_blank">OPINION</a></li>
          <li style=" width:70px;"><a href="https://www.chinadaily.com.cn/regional" target="_blank">REGIONAL</a></li>
          <li class="newspaper"><a href="javascript:void(0);">NEWSPAPER</a>
            <ul class="sub_menu">
              <li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;">China Daily PDF</a></li>
              <li><a href="https://epaper.chinadaily.com.cn/china" target="_blank" style="width:130px;">China Daily E-paper</a></li>
            </ul>
          </li>
          <li><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">MOBILE</a></li>
        </ul>
      </div>
      <!--底部3-->
      <div class="dibu-three">
        <div class="dibu-three-nei">
          <div class="three-left">
            <div class="lo-g"><a target="_blank" href="https://www.chinadaily.com.cn"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-1.jpg" /></a></div>

            <div class="lo-a">Copyright 1994 - <script>
              //<![CDATA[
              var oTime = new Date();
              document.write(oTime.getFullYear());
              //]]>
              </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form. Note: Browsers with 1024*768 or higher resolution are suggested for this site.</div>

            <div class="lo-c"><span style="display:none;">License for publishing multimedia online <b><a href="//www.chinadaily.com.cn/2009image_e/permit2010.jpg" target="_blank">0108263</a></b></span><br />
              <br />
              Registration Number: 130349 <img src="//www.chinadaily.com.cn/image_e/2016/sub/a-2.jpg" /></div>
          </div>

          <div class="three-midd">
            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/about" target="_blank">About China Daily</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/advertiseonsite" target="_blank">Advertise on Site</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/contact" target="_blank">Contact Us</a></div>

            <div class="midd-a"><a href="http://chinadaily.zhiye.com/" target="_blank">Job Offer</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/static_e/Expat_Employment.html" target="_blank">Expat Employment</a></div>
          </div>

          <div class="three-right">
            <div class="right-a">FOLLOW US</div>

            <div class="right-b"><span><a href="http://www.facebook.com/chinadaily" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-3.jpg" border="0" /></a></span> 

              <span><a href="https://twitter.com/ChinaDailyUSA" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2024/a-5.jpg?ver=2" border="0" /></a></span></div>
          </div>
        </div>
      </div>
      <!-- 响应式foot -->
      <footer class="mobile-foot">
        <div class="mobile-miscs res-m">
          <div class="showDesktop"><span class="showDesktop-English"><img src="//img2.chinadaily.com.cn/static/common/img/mEnglish.png" /></span>
            <span class="showDesktop-Chinese"><a href="//cn.chinadaily.com.cn"><img src="//img2.chinadaily.com.cn/static/common/img/mChinese.png" /></a></span>
            <span class="showDesktop-Desktop" id="showpc" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showDesktop.png" /></span></div>
          <p class="footer-p">
            Copyright 1994 - <script>
            //<![CDATA[ 
            var oTime = new Date();
            document.write(oTime.getFullYear());
            //]]>
            </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form.
          </p>
        </div>
      </footer>
      <!-- 响应式foot 结束-->
      <script type="text/javascript">
        //<![CDATA[
        var toggleBtn = document.getElementById('showpc');
        var vp = document.querySelector('meta[name=viewport]');
        var vpHtml = document.getElementById('showpc');
        vpHtml.style.display = 'display';
        var flag = 0;
        function transView(){
          var x = (flag) ? 'initial-scale=1' : 'width=1200';
          var  relax = (flag) ? 'none' : 'block';
          vp.setAttribute('content', x);
          document.getElementById("mobileView").style.display=relax;

          flag^=1;
        };
        /*toggleBtn.addEventListener('click',transView())*/

        //]]>
      </script> 
    

    <div class="share">
      <div class="share-core">
        <a title="weibo" shape="rect" href="http://v.t.sina.com.cn/share/share.php?appkey=2152474398&amp;type=3&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;pic=http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccbb.jpeg&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
        <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;u=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
        <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
        <a title="linkedin" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=External challenges catalyzing semiconductor supply chain self-sufficiency&amp;url=https://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
        <a title="mail" target="_blank" shape="rect" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=External challenges catalyzing semiconductor supply chain self-sufficiency%0D%0Ahttps://www.chinadaily.com.cn/a/202602/11/WS698bec0da310d6866eb38a5f.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
        <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
      </div>
      <div class="share-close">
        <span>CLOSE</span>
      </div>
    </div>
    
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
      <!--心动统计系统 -->
      <script src="https://xd.cdurl.cn/xdsens/autotrack.js" type="text/javascript" data-config="{'host':'//xd.cdurl.cn/receiver', 'project':'Chinadailyvideo','token':'a5a00812e91149238d371a308cb61e40'}"></script>
    
    
      <div style="display:none;">
        <!--  <script src="//s13.cnzz.com/stat.php?id=3089622&amp;web_id=3089622" language="JavaScript"></script>	-->
        <!-- Start Alexa Certify Javascript -->
        <!--  <script type="text/javascript">
//<![CDATA[
_atrk_opts = { atrk_acct:"uM+9j1a8Dy00qn", domain:"chinadaily.com.cn",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
//]]>
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=uM+9j1a8Dy00qn" style="display:none" height="1" width="1" alt="" /></noscript>	-->
        <!-- End Alexa Certify Javascript -->  
      </div>

    

    <div id="SCN">&#160;</div>

    <!--State Council-->
    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      function iFrameScn(){
        var oHref0 = document.getElementById("SCN0").getAttribute("href");
        var oHref1 = document.getElementById("SCN1").getAttribute("href"); 
        var oDiv =  document.getElementById("SCN");

        var oScnIframe = "<iframe src='" + oHref0 + "' style='display:none' ></iframe>" +"<iframe src='"+oHref1+"' style='display:none' ></iframe>";


        oDiv.innerHTML = oScnIframe;

      }
      iFrameScn();
      //]]>
    </script>

    <script type="text/javascript" xml:space="preserve">  
      //<![CDATA[
      jq(document).ready(function () {
        function is_weixin(){
          var ua = navigator.userAgent.toLowerCase();
          if(ua.match(/MicroMessenger/i)=="micromessenger") {
            return true;
          } else {
            return false;
          }
        }
        var url =location.href;
        if(is_weixin()){
          jq.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
            wx.config({
              debug: false,
              appId: data.appid,
              timestamp: data.timestamp,
              nonceStr: data.noncestr,
              signature: data.sign,
              jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
            }),
              wx.ready(function(){
              wx.onMenuShareTimeline({
                title: 'External challenges catalyzing semiconductor supply chain self-sufficiency',
                link: url,
                imgUrl: 'http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccc1.jpeg'
              });
              var data = {
                title: 'External challenges catalyzing semiconductor supply chain self-sufficiency',
                desc: 'China\'s semiconductor supply chain companies are making steady progress in core technologies and materials as US-led export controls and the possibility of more restrictions on advanced chip-making equipment catalyze the country\'s drive for greater self-sufficiency.',
                link: url,
                imgUrl: 'http://img2.chinadaily.com.cn/images/202602/11/698bec0da310d68600f7ccc1.jpeg'
              };
              wx.onMenuShareAppMessage(data);
            }),
              wx.error(function(res){
              console.log("微信验证失败!");
            })
          });
        }

      });
      //]]>
    </script>
  </body>
 
       <script>
    //<![CDATA[
    document.addEventListener("DOMContentLoaded", function() {
      // 获取div#Content中的所有iframe
      const contentDiv = document.getElementById('Content');
      if (contentDiv) {
        const targetIframes = contentDiv.querySelectorAll("iframe");
        
        // 遍历并执行调整函数
        targetIframes.forEach(iframe => {
          adjustIframeContainerSize(iframe);
        });
      } else {
        console.warn('未找到div#Content元素');
      }
    });

    function adjustIframeContainerSize(iframe) {
      if (!iframe) {
        console.warn('未找到 iframe 元素');
        return;
      }

      // 获取iframe的ID
      const iframeId = iframe.id.replace(/[^a-zA-Z]/g, "");
      console.log(iframeId)
      let vr;

      // 根据不同ID设置不同的ra值
      if (iframeId === 'playerFrameN') {
        // 从src中提取ra参数
        const iframeSrc = iframe.src;
        console.log("当前 iframe 的 src:", iframeSrc);
        
        try {
          const videoUrl = new URL(iframeSrc);
          vr = videoUrl.searchParams.get("ra") || "16:9";
        } catch (e) {
          console.error("解析URL失败:", e);
          vr = "16:9"; // 解析失败时使用默认值
        }
      } else if (iframeId === 'playerFrameV') {
        // 固定为9:16
        vr = "9:16";
      } else if (iframeId === 'playerFrameP') {
        // 固定为16:9
        vr = "16:9";
      } else {
        // 对于其他ID的iframe，使用默认比例
        console.log(`未处理的iframe ID: ${iframe.id}，使用默认比例`);
        vr = "16:9";
        return; // 如果不需要处理其他ID的iframe，可以取消此行注释
      }

      console.log(`iframe ID: ${iframe.id}，使用的比例值:`, vr);

      // 解析宽高比
      const ratioParts = vr.split(":").map(Number);
      if (ratioParts.length !== 2 || isNaN(ratioParts[0]) || isNaN(ratioParts[1])) {
        console.error("无效的比例值，使用默认16:9");
        ratioParts = [16, 9];
      }
      const [videoW, videoH] = ratioParts;
      const videoRatio = videoW / videoH;

      // 调整iframe尺寸
      const parent = iframe.parentElement;
      if (!parent) {
        console.warn('iframe没有父元素');
        return;
      }
      
      const parentWidth = parent.offsetWidth;
      
      function isMobileDevice() {
        return /Harmony|OpenHarmony|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      function updateContainerWidth() {
        if (isMobileDevice()) {
          console.log("这是移动设备");
          iframe.style.width = parentWidth + "px";
          iframe.style.height = parentWidth / videoRatio + "px";
        } else {
          console.log("这是PC/桌面设备");
          if (videoRatio > 1) {
            iframe.style.width = parentWidth + "px";
            iframe.style.height = parentWidth / videoRatio + "px";
          } else {
            iframe.style.width = parentWidth * 0.6 + "px";
            iframe.style.height = (parentWidth * 0.6) / videoRatio + "px";
          }
        }
        console.log(`width: ${iframe.style.width}, height: ${iframe.style.height}`);
      }

      updateContainerWidth();
      iframe.addEventListener("load", updateContainerWidth);
      // 监听窗口大小变化，重新调整尺寸
      window.addEventListener("resize", updateContainerWidth);
    }
    //]]>
</script>
    
</html>
